<template>
 <transition name="fade">
    <div class="post-wrapper">
        <div class="post-info">
       <h1>{{post.title}}</h1>
       <img v-if="post.thumbnail && post.thumbnail != 'self'" :src="post.thumbnail" :alt="post.title">
       <p>{{post.selftext}}</p>
       </div>
    </div>
 </transition>
</template>

<script>
export default {
    data() {
        return {
            post: {}
        }
    },
    created: function() {
        this.fetchData();
    },
    methods : {
        fetchData: async function() {
            try {
                const res = await fetch(
                    `https://www.reddit.com/r/${this.$route.params.category}/comments/${this.$route.params.id}.json`
                    );
                const post = await res.json();
                this.post = post[0].data.children[0].data;
            } catch (e) {
                console.log(e)
            }
        }
    }
}
</script>

<style scoped>
    .fade-enter-active, .fade-leave-active {
        transition: all 0.3s ease;
    }
    .fade-eter, .fade-leave-to {
        opacity: 0;
        transform: translateX(100%);
    }
    .post-wrapper {
        max-width: 800px;
        margin: 0 auto;
        text-align: left;
        padding: 1rem;
    }
</style>