<template>
    <header class="app-header">
        <h1>{{ title }}</h1>
    </header>
</template>

<script>
export default {
    name: 'Header',
    props : {
        title: String
    },
}
</script>

<style>
    .app-header {
        display: flex;
        padding:  0 1rem;
        max-width: 800px;
        margin: 0 auto;
    }
</style>
