<template>
    <div v-if="loading">
        Loading...
    </div>
    <div v-else class="post-list">
        <ul>
            <li v-for="post in posts.children" :key="post.data.id">
                <Post :post="post.data" />
            </li>
        </ul>
        <button :disabled="(!posts.before && !before)" v-on:click="fetchData('before')">Previous</button>
        <select v-model="limit" v-on:change="fetchData" :value="limit">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="25">25</option>
        </select>
        <button :disabled="!posts.after" v-on:click="fetchData('after')">Next</button>
    </div>
</template>


<script>
import Post from './Post';
export default {
   name: 'PostsList',
   components: {
        Post
    },
    data() {
        return {
            posts: [],
            limit: '10',
            before: null,
            limits: ['5', '10', '25'],
            loading: true
        }
    },
    created: function() {
        this.fetchData();
    },
    methods : {
        fetchData: async function(refetch) {
            this.loading = true;
            let paginate = ''
            if(refetch == 'before') {
                if(!this.posts.before) {
                    paginate = `&before=${this.before}`
                    this.before = null
                }
                paginate = `&before=${this.posts.before}`
            }
            if(refetch == 'after') {
                this.before = this.posts.after
                paginate = `&after=${this.posts.after}`
            }
            try {
                const res = await fetch(
                    `https://www.reddit.com/r/popular.json?limit=${this.limit}${paginate}`
                    );
                const posts = await res.json();
                this.posts = posts.data;
                this.loading = false;
                window.scrollTo(0,0);
            } catch (e) {
                console.log(e)
            }
        }
    }
}
</script>

<style>
.post-list {
    margin-bottom: 1rem;
}
ul {
    display: grid;
    list-style: none;
    padding: 1rem;
    margin: 0;
    grid-row-gap: 1rem;
    grid-template-columns: repeat(1fr, 1fr);
    max-width: 800px;
    margin: 0 auto;
}
button {
    border: none;
    box-shadow: none;
    padding: .5rem 1rem;
    background: #3d7826;
    border-radius: 5px;
    margin: .5rem;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}
button:disabled {
    cursor: not-allowed;
    background: #83ac73;
}
button:focus {
    outline: none;
}
</style>