<template>
    <div class="post">
        <router-link :to="postPath">
            <img v-if="post.thumbnail && post.thumbnail != 'self'" :src="post.thumbnail" :alt="post.title">
            <h3>{{post.title}}</h3>
            <div>Posted: {{new Date(post.created).toUTCString()}}</div>
            <div>Comments: {{post.num_comments}}</div>
            <div>Author: {{post.author}}</div>
            <div>Scrore: {{post.score}}</div>
        </router-link>
    </div>
</template>

<script>
export default {
    name: 'Post',
    props: ['post'],
     computed: {
        postPath: function() {
            return `/${this.post.subreddit}/${this.post.id}`
        },
    }
}
</script>

<style scoped>
    a:visited, a:hover, a {
        color: #333;
        text-decoration: none;
    }
    .post {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: .5rem;
        border-radius: 5px;
        box-shadow: #cecece 2px 2px 10px;
    }
</style>