<template>
  <div id="app">
     <Header :title="title" />
     <router-view />
  </div>
</template>

<script>
import Header from './components/Header';

export default {
  name: 'app',
  data() {
    return {
      title: 'Reddit api',
    }
  },
  components: {
    Header
  }
}
</script>

<style>
* {
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
